html {
  scroll-behavior: smooth;
}

/* Fullscreen Wrapper */
.employee-module-fullscreen-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Scrollable content box */
.employee-module-container {
  padding: 20px;
  padding-top: 1px;
  width: 97vw;
  min-height: 95vh;
  padding: 30px;
}

/* Header */
.employee-module-header-title {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.employee-module-page-title{
  text-align: left;
  margin-left: 50px;
}


/* Logo */
.employee-module-logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: auto;
}

/* Home Icon */
.employee-module-home-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  cursor: pointer;
  color: #333;
  transition: transform 0.3s ease;
}

.employee-module-home-icon:hover {
  transform: scale(1.1);
  color: #0659b3;
}

/* KRA Section */
.employee-module-kra-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  background: #fff;
}

.employee-module-kra-header {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.employee-module-kra-input {
  flex: 3;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* KPI Section */
.employee-module-kpi-box {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
  align-items: center;
}

.employee-module-kpi-input {
  flex: 3;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.employee-module-weightage-input {
  flex: 1;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Buttons */
button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 120px;
}

.employee-module-add-kra,
.employee-module-add-kpi {
  background-color: #28a745;
  color: white;
  margin-top: 20px;
  width: 150px;
}

.employee-module-remove-btn {
  background-color: #dc3545;
  color: white;
  width: max-content;
  margin-left: auto;
}

.employee-module-draft-btn {
  background-color: #ffc107;
  color: black;
}

.employee-module-submit-btn {
  background-color: darkblue;
  color: white;
}

.employee-module-action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
